* {
  color: #222;
}

a {
  text-decoration: none;
}
.preview-title {
  color: blue;
  font-size: 22px;
  font-weight: 600;
}
.preview-date {
  font-size: 14px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}
